<!DOCTYPE html>
<html lang="en">
    <%-include ('./partials/head.ejs') %>
<body>
    <%-include ('./partials/nav.ejs') %>

    <div class="404_error">
        <h1>OOPS.......404</h1>
        <h3>Page not found</h3>
    </div>
    <!-- <%-include ('./partials/footer.ejs') %> -->
</body>
</html>